{% load static %}
{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkillUp|Courses|Take Quiz</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>

{% include 'nav.html' %}

<div class="container mt-3" id="bc">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quiz: {{ quiz.name }}</li>
        </ol>
    </nav>
</div>

<div class="container justify-content-center btn-cool-blues">
    <div class="progress my-3">
        <div class="progress-bar progress-bar-striped border border-2" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">{{ progress }}%</div>
    </div>

    <h2 class="mb-3">{{ quiz.name }}</h2>
    <p class="lead">Q: {{ question.text }}</p>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-info btn-cool-blues my-3">Next →</button>
    </form>
</div>

<footer>
    <p class="navbar fixed-bottom m-0 d-flex justify-content-center small text-white shadow-lg text-shadow">Copyright © SkillUp 2022</p>
</footer>

<script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>